@charset "UTF-8";

/*
    Mobile devices – 320px — 480px.
    iPads, Tablets – 481px — 768px.
    Small screens, laptops – 769px — 1024px.
    Desktops, large screens – 1025px — 1200px.
    Extra large screens, TV – 1201px, and more.
*/
:root{
    --cor1: #3FCCF5;
    --cor2: #70D6F5;
    --cor3: #97a4e8;
}
/*Tablets*/

@media screen and (min-width: 600px) {
    section article > h1#inicio{
        padding-top: 40px;
        text-shadow: 2px 3px 10px var(--cor3);
    
    }

    section.doposto{
        height: 267px;
    }
    
    section article > h1 > a#inicioText{
        text-align: justify;
        font-size: 40px;
        text-decoration: none;
        color: var(--cor1);
    }

    section.degrade > a > div.video {
        padding: 10px;
        height: 80%;
        width: 90%;
    }
    
    section.degrade > a > div.video > iframe{ 
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, -50%);
        max-width: 500px;
        max-height: 500px;
    }

    .slider {
        width: 500px;
        height: 100%;
        text-align: center;
        overflow: hidden;
      }

    .slides > div {
        width: 500px;
        height: 300px;
      }

      div#processos{
        background-image: url(../imagens/processos.png);
      }

    
}
/*Compitador*/

@media screen and (min-width: 800px) {
    menu{
        display: block;
        background-color: var(--cor1);
        position: relative;
        border-radius: 0px 0px 10px 10px;
        height: 50px;
    }
    ul#menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        margin-top: -60px;
        list-style: none;
    }

    ul#menu > a > li{
        color: white;
        list-style: none;
        padding: 20px;
   }

   ul#menu > a {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
   }

    .topnav{
        display: none;
    }
    section{
        height: 450px;
        position: relative;
        min-width: 380px;
    }

    section article#type{
        max-width: 416px;
        margin: auto;
    }

    section.azul > article > p{
        max-width: 300px;
        text-align: center;
        display: block;
        margin: auto;
        position: inherit;
    }

    section.doposto{
        height: 600px;
    }

    .prev, .next {
        margin-top: -22px;
        margin-left: 100px;
        margin-right: 100px;

      }

    #text-sobremim{
        max-width: 253px;
        text-align: center;
        display: block;
        margin: auto;
        position: inherit;
        font-size: 20px;
    }

    article#sobremim{
        max-width: 40%;
        margin: auto;
    }

    section > article > a > #op1{
        left: 40%;
        top: 50%;
        transform: translate(-40%, -50%);
    }
    
    section > article > a > #op2{
        left: 55%;
        top: 50%;
        transform: translate(-55%, -50%);
    }
    
}