@charset "UTF-8";

/*Mobile*/

:root{
    --cor1: #1A3EF5;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;    
    width: 100%;
}

header{
    width: 100%;
    background-color: var(--cor1);
    height: 50px;
    border-radius: 0px 0px 10px 10px;
}

header h1{
    margin-top: 0px;
}

section{
    width:100%;
    height: 350px;
    position: relative;
}


section article > p#inicioText{
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
    position: absolute;
    
}

section article > h1{
    text-align: center;
    color: var(--cor1);
    font-size: 3em;
    display: block;
}


section#apresentacao > h1{
    margin-top: 20px;
}


section article > p{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#apresentacao{
    height: 280px;
}

section.azul{
    background-color: var(--cor1);
}

section.azul  article > h1{
    color: white;
    padding: 10px;
    display: block;
    min-width:70px;
    margin-top: -52px;
}

section#final{
    height: 250px;
    margin-top: -50px;
}


section.azul  article > #contato{
    text-align: center;
}

section.azul article > p{
    display: inline-block;
    position: absolute;
    text-align: justify;
    text-indent: 20px;
}

section#beneficios{
    max-height: 300px;
}

section#beneficios > center >  article{
     width: 100%;
}

section#beneficios > center > article > div.bloco{
    display: inline-block;
    min-width: 100px;
    min-height: 160px;
    border-radius: 20px;
    background: #1A3EF5;
    box-shadow: -9px 9px 14.2px -5px #000;
    margin-left: 20px;
}

section#beneficios > center > article > div#b2{
    background: #4C67F0;
    box-shadow: 0px 9px 14.2px -5px #000;
}

section#beneficios > center > article > div#b3{
    background: #A8B5F9;
    box-shadow: 9px 9px 14.2px -5px #000;
}


section.degrade {
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor1), #1a3ef5af,white);
}

section.degrade > h1{
    text-align: center;
    color: white;
}

section.degrade > div.video {
    padding: 10px;
    height: 80%;
    width: 90%;
}

section.degrade >  div.video > iframe{ 
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
    height: 80%;
    width: 90%;
}

section.doposto{
    background-image: linear-gradient(to top, var(--cor1), #1A3EF5,#1A3EF5, #1a3ef5af,  transparent);
}

/*Processos*/

/* Style the tab */
.tab {
    border: 1px solid #000000;
    background-color: var(--cor1);
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 10px;
    transition: 0.3s;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ffffff;
    transition: 0.5s;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ffffff;
    color: var(--cor1);
    font-weight: bolder;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    height: 200px;
    text-align: justify;
    color: #ffffff;
    font-size: 20px;
    text-indent: 20px;
    padding: 10px;
  }

/*Fim processos*/

/*Valores*/
.Valores{
    width: 100%;
    height: 80%;
    background-image: url(../imagens/planos.png);
    background-repeat: no-repeat;
    background-position: center  center;
    background-size: contain;
}
/*Fim valores*/

/*Sobre mim*/
    div.foto#f2{
        display: inline-block;
        min-width: 120px;
        height: 220px;
        border-radius: 20px;
        background: #1A3EF5;
        box-shadow: -9px 9px 14.2px -5px #000;
        margin: 10px;
    }

    p#text-sobremim{
        display: inline-block;
        position: absolute;
        text-align: justify;
        font-size: 15px;
    }

/*Fim Sobre mim*/

section > article > div.bloco-B{
    width: 50px;
    height: 50px;
    background-color: white;
}

section > article > div#bb2{
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-50px, -50px);
}

section > article > a >div.opcao{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background: #D9D9D9;
    display: inline-block;
    position: absolute;

   
    
}

section > article > a {
   text-decoration: none;
}

section > article > a > #op1{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%);
}

section > article > a > #op2{
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-70%, -50%);
}

section > article > a > div.opcao > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

section > article > a > div.opcao > img:hover{
    top: 40%;
    transition: 0.2s;
}

footer{
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: var(--cor1);
}